.row.justify-content-center
  .col-5.card.p-4.bc-card.text-center
    %h2.pb-4.font-color Admin Panel
    .row.p-4.justify-content-center
      .col-6.admin-border.rounded.py-2
        = fa_icon "list-ul", class: "admin-icon pb-2"
        %h3.font-color
          Quantity:
          = @categories.length
        = link_to 'Categories', categories_path, class: 'btn admin-button btn-block'