-# %p#notice= notice
-# %h1 Proyects
-# %table
-#   %thead
-#     %tr
-#       %th Name
-#       %th{:colspan => "4"}
-#   %tbody
-#     - @proyects.each do |proyect|
-#       %tr
-#         %td= proyect.name
-#         %td= link_to 'Pictures', proyect_pictures_path(proyect)
-#         %td= link_to 'Show', proyect
-#         %td= link_to 'Edit', edit_proyect_path(proyect)
-#         %td= link_to 'Destroy', proyect, method: :delete, data: { confirm: 'Are you sure?' }
-# %br/
-# = link_to 'New Proyect', new_category_proyect_path

.row.justify-content-center
  .col-5.card.p-4.bc-card.text-center
    %h2.pb-2.font-color Proyects
    %h3.pb-2.font-color
      Category:
      = @category.name
    %h4.pb-4.font-color
      Number of proyects:
      = @category.proyects.length
    .row.justify-content-start
      .col-2.ml-4
        = link_to new_category_proyect_path do
          = fa_icon "plus-circle", class: "fa-2x btn admin-button btn-block"
      .col-2
        = link_to categories_path(@category) do
          = fa_icon "arrow-circle-left", class: "fa-2x btn admin-button btn-block"
    .row.p-4.mt-3.justify-content-center
      .col-12
        - if @category.proyects.any?
          - @category.proyects.each do |proyect|
            .row
              .col-6
                = link_to proyect_pictures_path(proyect), class: "font-color" do
                  = proyect.name
              .col-2
                = link_to edit_category_proyect_path(@category, proyect) do
                  = fa_icon "pencil", class: "fa-lg btn admin-button"
              .col-2
                = link_to category_proyect_path(@category, proyect), method: :delete do
                  = fa_icon "trash", class: "fa-lg btn admin-button"
            %hr.hr-style
        - else
          .row
            .col-12
              %h3.font-color
                There are no proyects created