%p#notice= notice
%p
  %strong Name:
  = @proyect.name
- @proyect.pictures.each do |picture|
  = image_tag picture.avatar.url(:medium)
%br
= link_to 'Pictures', proyect_pictures_path(@proyect)
|
= link_to 'Edit', edit_proyect_path(@proyect)
|
= link_to 'Back', proyects_path
