-# = form_with(model: picture, local: true) do |form|
-#   - if picture.errors.any?
-#     #error_explanation
-#       %h2
-#         = pluralize(picture.errors.count, "error")
-#         prohibited this picture from being saved:
-#       %ul
-#         - picture.errors.full_messages.each do |message|
-#           %li= message
-#   .field
-#     = form.label :name
-#     = form.text_field :name, id: :picture_name
-#   .actions
-#     = form.submit

-# = form_for [:proyect, @picture] do |f|
-#   .form-group
-#     = f.label 'Avatar'
-#     = f.file_field :avatar, class: 'form-control'
-#   .form-group
-#     = f.label 'Nombre'
-#     = f.text_field :name, class: 'form-control', placeholder: 'Introduce un nombre'
-#   .actions.text-center
-#     = f.submit "Guardar", class: 'btn btn-success'

= form_for [:proyect, @picture] do |f|
  .row
    .col-12.text-left
      .form-group
        = f.label 'Avatar:', class: "font-color"
        = f.file_field :avatar, class: 'form-control form-style'
      .form-group
        = f.label 'Name:', class: "font-color"
        = f.text_field :name, class: 'form-control form-style', placeholder: 'Please enter a name'
    .col-12
      .actions.text-center
        = f.submit "Save", class: 'btn admin-button btn-block'