-# %h1 Editing Picture
-# = render 'form', picture: @picture
-# = link_to 'Show', @picture
-# |
-# = link_to 'Back', pictures_path

.row.justify-content-center
  .col-5.card.p-4.bc-card.text-center
    %h2.pb-2.font-color 
      Picture:
      = @picture.name
    %h3.pb-2.font-color
      Proyect:
      = @proyect.name
    .row.justify-content-start
      .col-2.ml-4
        = link_to proyect_pictures_path(@proyect) do
          = fa_icon "arrow-circle-left", class: "fa-2x btn admin-button btn-block"
    .row.p-4.mt-3.justify-content-center
      .col-9
        = render 'form'