-# %p#notice= notice
-# %h1 Pictures
-# %table
-#   %thead
-#     %tr
-#       %th Name
-#       %th{:colspan => "3"}
-#   %tbody
-#     - @pictures.each do |picture|
-#       %tr
-#         %td= picture.name
-#         %td= link_to 'Show', picture
-#         %td= link_to 'Edit', edit_picture_path(picture)
-#         %td= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' }
-# %br/
-# = link_to 'New Picture', new_picture_path

-# %p#notice= notice
-# %h1 Pictures
-# %table
-#   %thead
-#     %tr
-#       %th Name
-#       %th{:colspan => "3"}
-#   %tbody
-#     - @proyect.pictures.each do |picture|
-#       %tr
-#         %td= picture.name
-#         %td= link_to 'Show', proyect_picture_path(@proyect, picture)
-#         %td= link_to 'Edit', edit_proyect_picture_path(@proyect, picture)
-#         %td= link_to 'Destroy', proyect_picture_path(@proyect, picture), method: :delete, data: { confirm: 'Are you sure?' }
-# %br/
-# = link_to 'New Picture', new_proyect_picture_path  
-# |
-# = link_to 'Back', proyect_path(@proyect)

.row.justify-content-center
  .col-5.card.p-4.bc-card.text-center
    %h2.pb-2.font-color Pictures
    %h3.pb-2.font-color
      Proyect:
      = @proyect.name
    %h4.pb-4.font-color
      Number of pictures:
      = @proyect.pictures.length
    .row.justify-content-start
      .col-2.ml-4
        = link_to new_proyect_picture_path do
          = fa_icon "plus-circle", class: "fa-2x btn admin-button btn-block"
      .col-2
        = link_to category_proyects_path(@proyect.category) do
          = fa_icon "arrow-circle-left", class: "fa-2x btn admin-button btn-block"
    .row.p-4.mt-3.justify-content-center
      .col-12
        - if @proyect.pictures.any?
          - @proyect.pictures.each do |picture|
            .row
              .col-6
                = link_to proyect_picture_path(@proyect, picture), class: "font-color" do
                  = picture.name
              .col-2
                = link_to edit_proyect_picture_path(@proyect, picture) do
                  = fa_icon "pencil", class: "fa-lg btn admin-button"
              .col-2
                = link_to proyect_picture_path(@proyect, picture), method: :delete do
                  = fa_icon "trash", class: "fa-lg btn admin-button"
            %hr.hr-style
        - else
          .row
            .col-12
              %h3.font-color
                There are no pictures created