%p
  %strong Image:
= image_tag @picture.avatar.url(:medium)
%p
  %strong Name:
  = @picture.name
%p
  %strong File_name:
  = @picture.avatar_file_name
%br
= link_to 'Edit', edit_proyect_picture_path(@proyect, @picture)
|
= link_to 'Back', proyect_pictures_path