@import "bootstrap";
@import "font-awesome";

.admin-icon{
  font-size: 5em;
  color: #7A9EB1;
}

.admin-border{
  border-style: solid;
  border-width: 1px;
  border-color: #7A9EB1;
}

.font-color{
  color: #FFE1B6;
}

.form-style{
  background-color: #F9F8EB;
  color: #415865;
  border-color: #7A9EB1;
}

.form-style:focus{
  background-color: #F9F8EB;
  color: #415865;
  border-color: #7A9EB1;
}

.font-color:hover{
  color: #FFE1B6;
  text-decoration: none;
}

.container-fluid{
  min-height: 100vh;
  height: auto;
  background-color: #F9F8EB;
}

.bc-card{
  background-color: #415865;
}

.admin-button{
  border-radius: 40px;
  background-color: #FFE1B6;
  border-style: solid;
  border-width: 1px;
  border-color: #7A9EB1;
  color: #7A9EB1;
  text-decoration: none;
}

.admin-button:hover{
  color: #7A9EB1;
  text-decoration: none;
}

.hr-style{
  background-color: #7A9EB1;
}