-# = form_for @category do |f|
-#   - if @category.errors.any?
-#     #error_explanation
-#       %h2= "#{pluralize(@category.errors.count, "error")} prohibited this category from being saved:"
-#       %ul
-#         - @category.errors.full_messages.each do |message|
-#           %li= message

-#   .field
-#     = f.label :name
-#     = f.text_field :name
-#   .actions
-#     = f.submit 'Save'

= form_for @category do |f|
  .row
    .col-12.text-left
      .form-group
        = f.label 'Name:', class: "font-color"
        = f.text_field :name, class: 'form-control form-style', placeholder: 'Please enter a name'
    .col-12
      .actions.text-center
        = f.submit "Save", class: 'btn admin-button btn-block'
