-# %h1 Listing categories

-# %table
-#   %thead
-#     %tr
-#       %th Name
-#       %th
-#       %th
-#       %th

-#   %tbody
-#     - @categories.each do |category|
-#       %tr
-#         %td= category.name
-#         %td= link_to 'Show', category
-#         %td= link_to 'Edit', edit_category_path(category)
-#         %td= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }

-# %br

-# = link_to 'New Category', new_category_path

.row.justify-content-center
  .col-5.card.p-4.bc-card.text-center
    %h2.pb-4.font-color Categories
    .row.justify-content-start
      .col-2.ml-4
        = link_to new_category_path do
          = fa_icon "plus-circle", class: "fa-2x btn admin-button btn-block"
      .col-2
        = link_to admin_index_path do
          = fa_icon "arrow-circle-left", class: "fa-2x btn admin-button btn-block"
    .row.p-4.mt-3.justify-content-center
      .col-12
        - if @categories.any?
          - @categories.each do |category|
            .row
              .col-6
                = link_to category_proyects_path(category), class: "font-color" do
                  = category.name
              .col-2
                = link_to edit_category_path(category) do
                  = fa_icon "pencil", class: "fa-lg btn admin-button"
              .col-2
                = link_to category, method: :delete do
                  = fa_icon "trash", class: "fa-lg btn admin-button"
            %hr.hr-style
        - else
          .row
            .col-12
              %h3.font-color
                There are no categories created
    
