-# %h1 New category

-# = render 'form'

-# = link_to 'Back', categories_path

.row.justify-content-center
  .col-5.card.p-4.bc-card.text-center
    %h2.pb-2.font-color New Category
    .row.justify-content-start
      .col-2.ml-4
        = link_to categories_path do
          = fa_icon "arrow-circle-left", class: "fa-2x btn admin-button btn-block"
    .row.p-4.mt-3.justify-content-center
      .col-7
        = render 'form'